:root {
  --darkpurple: #210124;
  --blue: #00A7E1;
  --light: #F4FFFD;
  --darkblue: #007EA7;
  --lightpurple: #750D37;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.custom-container {
  margin-top: 3rem;
  background-color: var(--blue);
  border: 2px solid var(--lightpurple);
}

.custom-header {
  color: var(--darkpurple);
}

.custom-list {
  background-color: var(--light);
  font-size: 26px;
  margin-bottom: 1rem;
}

.custom-badge {
  color: var(--lightpurple);
  background-color: var(--darkblue);
  padding: 1rem;
  border: 2px solid;
}

.custom-btn {
  color: var(--darkpurple);
  background-color: var(--blue);
}

.custom-btn:hover {
  color: var(--lightpurple);
  color: var(--light);
  background-color: var(--darkblue);
}
