:root {
  --darkpurple: #210124;
  --blue: #00A7E1;
  --light: #F4FFFD;
  --darkblue: #007EA7;
  --lightpurple: #750D37;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.custom-header {
  background-color: var(--light);
}
.custom-navbar {
  background-color: var(--darkblue);
  color: var(--light);
  border: 2px solid var(--lightpurple);
}
.custom-navbar a {
  background-color: var(--darkblue);
  color: var(--light);
}
.custom-navbar :hover {
  color: var(--lightpurple);
}

.custom-btn,
.custom-options-btn {
  color: var(--darkpurple);
  background-color: var(--blue);
}
.custom-card {
    background-color: var(--light);
}
.custom-options-btn:hover,
.custom-btn:hover {
  color: var(--light);
  background-color: var(--darkblue);
  cursor: pointer;
}
